<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <link rel="icon" href="{% static 'img/tab_logo.png' %}">
  <title>Priyanshu Arora</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <div id="preloader"></div>
  {% block content %}
   {% endblock content %}
  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img  src="{% static 'img/ud1.png' %}" alt="Imperial">
        </div>

        <!-- <h1>Priyanshu Arora</h1> -->
        <h2>A <span class="rotating">Web Developer,Software Developer,Competitive Programmer</span></h2>
        <div class="actions">
          <!-- <a href="" class="btn-get-started">Get Strated</a> -->
          <a href="#about" class="btn-services">About Me</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="{% static 'img/logo.png' %}" class="ball" alt="" width=20% title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="https://drive.google.com/file/d/1_lFWGfGxaehd93ABBaLSe3AnGRrmyCxI/view?usp=sharing">Resume</a></li>
          <li><a href="#portfolio">Projects</a></li>
          <li><a href="#contact">Contact Me</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->


  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">

          <div class="subscribe-title">
             UNLESS YOU TRY TO DO SOMETHING BEYOND WHAT YOU HAVE ALREADY MASTERED, YOU WILL NEVER GROW.
          </div>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#about">About Me</a>
        </div>
      </div>
    </div>
  </section>




  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">About Me</h3>
          <div class="section-title-divider"></div>
                </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">

        <div class="col-lg-6 about-img">
          <img src="{% static 'img/about-pic.JPG' %}" alt="">
        </div>

        <div class="col-md-6 about-content">
          <h2 class="about-title">
            <strong>
            Hello, I am Priyanshu.</h2>
            <p class="about-text">
              A II year Computer Science Engineering student from ABES Engineering College.

<br>
  I always wanted to know the magic behind any application I use on computers/mobiles and here I am making one of my own.
<br> Technology is what attracts me and learning about them is my passion.
<br>
<br>

  Currently I am working with BlockChain Technology at DataRitz PVT LTD
<br>
I am also a Campus Ambassador at CodingBlocks.
<br>
And I have past experiences as a WebDevelopment Intern.
</p>
<br>
  <p>You can visit my profile on <b> CodeChef</b> and <b>HackerRank</b>. <br></strong>
  <a href="https://www.codechef.com/users/priyanshu_aror">  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQmII53cnasJRo9QoC75oNvBstTSHZ_nKMMymF20R43ChtWUIUq&usqp=CAU" width="80px" height="80px" alt=""></a>
   <a href="https://www.hackerrank.com/priyanshu_arora1"> <img class="hack_img" src="https://aadityapurani.files.wordpress.com/2015/09/hackerrank-logo.jpg?w=640" width="105px" height="99px" alt=""></a> </p>
        </div>
      </div>
    </div>
  </section>

<!-- <section id="e_s"> -->


  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Education</h3>
          <div class="section-title-divider"></div>

        </div>
      </div>
<br>
      <div class="row">
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-institution"></i> </div>
          <h4 class="service-title"><a href="">ABES Engineering College</a></h4>
          <p class="service-description">2018-2022<br>
          Computer Science Engineering (second year)</p>
        </div>
        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-institution"></i></div>
          <h4 class="service-title"><a href="">St. Fidelis Sr. Sec. School</a></h4>
          <p class="service-description">2016-2018<br>
          Intermediate (CBSE Board)</p>
        </div>

        <div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-institution"></i></div>
          <h4 class="service-title"><a href="">Our Lady Of Fatima Sr. Sec. School</a></h4>
          <p class="service-description">2004-2016<br>
          High School (CBSE Board)</p>
        </div>

    </div></div>

      </section>


  <!--==========================
  Subscrbe Section
  ============================-->
  <!--==========================
  Porfolio Section
  ============================-->

  <!--==========================
  Testimonials Section
  ============================-->





  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>

    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Skills</h3>
          <div class="section-title-divider"></div>
                </div>
      </div>
    </div>

    <div class="skill_chart">


       <div class="chart" data-percent="60">Bootstrap</div>
       <div class="chart" data-percent="55">C</div>
       <div class="chart" data-percent="60">CSS</div>
       <div class="chart" data-percent="60">DJANGO</div>
       <div class="chart" data-percent="75">FILMORA</div>
       <div class="chart" data-percent="85">HTML</div>
       <div class="chart" data-percent="75">Python</div>
       <div class="chart" data-percent="75">WordPress</div>




   <br><br><br>
   </div>
     </div>
   </div>
   </div>

             <script type="text/javascript">
           $(function() {
       $('.chart').easyPieChart({
         scaleColor: "#ecf0f1",
         lineWidth: 5,
         lineCap: 'butt',
         barColor: '#040505',
         trackColor: "#d9dadb",
         size: 150,
         animate: 1000
       });
     });
         </script>
</div>
<!-- </section> -->

  <!--==========================
  Team Section
  ============================-->


    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Projects</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>
<section id="portfolio">
      <div class="row">
        {% for p in pro %}
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(media{{baseUrl}}/{{p.image}});" href="{{p.link}}">
            <div class="details">
              <h4>{{p.name}}</h4>
              <span>{{p.detail}}</span>
            </div>
          </a>
        </div>

        {% endfor %}
        </div>


    </div>
  </section>


<br><br>
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Certificates</h3>
          <div class="section-title-divider"></div>

        </div>
      </div>




<section id="portfolio">
      <div class="row">
        {% for c in cer %}
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(media{{baseUrl}}/{{c.cert_image}});" href="{{c.cert_link}}">
            <div class="details">
              <h4>{{c.cert_name}}</h4>
              <span>{{c.cert_detail}}</span>
            </div>
          </a>
        </div>

        {% endfor %}
        </div>


<!--
      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-1.jpg" alt=""></div>
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-2.jpg" alt=""></div>
            <h4>Sarah Jhinson</h4>
            <span>Product Manager</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-3.jpg" alt=""></div>
            <h4>William Anderson</h4>
            <span>CTO</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="img/team-4.jpg" alt=""></div>
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>

          </div>
        </div>

      </div> -->
    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Me</h3>
          <div class="section-title-divider"></div>
<br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Crossings Republic<br>Ghaziabad</p>
            </div>

            <div><a href="mailto:arorapriyanshu.official@gmail.com?Subject=Hello%20there!">
              <i class="fa fa-envelope"></i>
              <p>arorapriyanshu.official@gmail.com</p>
            </a>
            </div>


          </div>
        </div>

        <div class="col-md-5 col-md-push-2">
          <div class="form">
             <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="contactme" method="post" role="form" class="contactForm">
                {% csrf_token %}
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Footer
============================-->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            Priyanshu Arora <br>
            <div class="social">
              <a href="https://github.com/priyanshuarora1"><i class="fa fa-github"></i></a>

              <a href="mailto:arorapriyanshu.official@gmail.com?Subject=Hello%20there!"><i class="fa fa-google-plus"></i></a>
              <a href="https://www.linkedin.com/in/priyanshu-arora-206297186/"><i class="fa fa-linkedin"></i></a>
              <a href="https://www.youtube.com/channel/UCRvKo3ILC303O0KVoGrtkXQ"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>

          <div class="credits">

          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="https://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>
  <!-- <script src="{% static 'lib/jquery/jquery.min.js' %}"></script> -->
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/morphext/morphext.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/stickyjs/sticky.js' %}"></script>
  <script src="{% static 'lib/easing/easing.js' %}"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="{% static 'js/custom.js' %}"></script>

  <script src="{% static 'contactform/contactform.js' %}"></script>


</body>

</html>
